h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: purple;
}
form {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
}